<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FullContact Email Uploads</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <h1>File Upload</h1>
    <div class="container">

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="text-center">
            {% block upload %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
