{% extends 'fullcontact/base.html' %}

{% block upload %}
  <form action="/full-contact/batch-emails" method="post" enctype="multipart/form-data">
    <p style="text-align: center;">
    {{ form.file }}
    <input type="submit" value="Submit" />
  </form>
{% endblock %}
